.register-section {
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  font-family: "Syne", sans-serif;
}

.register-header {
  width: 1240px;
  height: 250px;
  background: #1a1a1a;
  border-radius: 50px;
  padding: 40px;
  text-align: left;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.register-header h1 {
  font-size: 100px;
  font-weight: 700;
  font-family: "Syne", sans-serif;
  margin: 0;
  line-height: 1.2;
}

.register-header h1 span {
  display: block;
}

.register-logo {
  position: absolute;
  right: -60px;
  top: -130px;
  width: 550px;
  height: 600px;
  object-fit: cover;
  opacity: 31%;
}

.register-box {
  width: 1240px;
  height: 1082px;
  background: #1a1a1a;
  border-radius: 50px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  width: 533px;
  height: 845px;
  background: #f5f5f5;
  border-radius: 50px;
  padding: 40px;
  text-align: center;
  color: black;
  position: relative;
  font-family: "Syne", sans-serif;
}

.register-card h3 {
  margin-bottom: 8px;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
}

.register-card p {
  font-size: 20px;
  margin-bottom: 20px;
  color: #555;
  text-align: left;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.register-form input,
.register-form textarea {
  font-size: 20px;
  width: 413px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding: 12px;
  background: transparent;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  bottom: 50px;
}

.register-btn {
  background: #8B030C;
  color: white;
  width: 232px;
  height: 64px;
  border: none;
  border-radius: 100px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

.register-btn:hover {
  background: darkred;
}
