.why-attend-section {
  font-size: 100px;
  font-weight: 100;
  margin-bottom: 40px;
  text-align: left;
  margin-left: 180px; 
  font-family: 'Syne', sans-serif; 
}

.why-attend-title {
  font-size: 100px;
  font-weight: 100;
  margin-bottom: 40px;
  text-align: left;  
  margin-left: 180px; 
  font-family: 'Syne', sans-serif; 
}

.why-attend-grid {
  display: grid;
  grid-template-columns: repeat(2, 610px);
  column-gap: 80px;
  row-gap: 20px;
  justify-content: center;
  align-content: center;
  height: 100%;
}

.why-card {
 background-color: #1a1a1a;
  border-radius: 50px;
  width: 610px;
  height: 289px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.1);
}

.why-number {
  font-family: "Syne", sans-serif;
  font-weight: 500; 
  font-size: 300px; 
  letter-spacing: -10px;
  background: linear-gradient(
    180deg, 
    rgba(139, 3, 12, 0.6) 35%,    
    rgba(26, 26, 26, 0.1) 80%      
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 0.8;
  position: absolute;
  bottom: -50px;
  z-index: 0;
  opacity: 100%; 
}

.why-card:nth-child(1) .why-number,
.why-card:nth-child(2) .why-number {
  left: 0px;
}
.why-card:nth-child(1) .why-content,
.why-card:nth-child(2) .why-content {
  margin-right: auto;
  text-align: justify;
  align-self: flex-start;
}
.why-card:nth-child(3) .why-number,
.why-card:nth-child(4) .why-number {
  right: 80px
}
.why-card:nth-child(3) .why-content,
.why-card:nth-child(4) .why-content {
  margin-right: auto;
  text-align: justify;
  align-self: flex-start;
}


.why-content {
  position: relative;
  z-index: 1;
  max-width: 70%;
}

.why-card-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.why-card-desc {
  font-size: 18px;
  color: #cfcfcf;
  line-height: 1.5;
  text-align: justify;
}