/* Heading left side */
.next-event-heading {
  font-family: 'Syne', sans-serif;
   text-align: left;
  font-size: 100px;
  font-weight: 700;
  line-height: 300%;
  height: 300px;
  margin-bottom: 60px;
  border-radius: 50px;
  background: #1A1A1A;
  color: #ffffff;
  padding-left: 40px;
}

.next-header-logo {
  display: flex;
  justify-content: right;
  align-items: right;
}

.logo-image {
  position: absolute;
  margin-top: -200px;
  width: 20%;
  max-width: 500px;
  height: 10px;
  object-fit: contain;
  opacity: 31%;
  margin-left: -20px;
}

/* Countdown box layout */
.countdown-frame {
  background: #1c1a1a;
  color: #fff;
  width: 1240px;
  height: 446px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;  /* space between left + right */
  padding: 40px;
  font-size: 100px;
}

/* Left content area (for countdown text if needed) */
.countdown-left {
  z-index: 1;
}

/* Right side image bigger */
/* Right side image bigger */
.countdown-decoration {
  position: relative;
  width: 711px;        /* ✅ correct */
  height: 881px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -100px;  /* move upwards */
  opacity: 0.9;
  right: -100px;
  margin-bottom: -150px;
}

/* Decoration image */
.decoration-img {
  width: 100%;          /* fill parent (811px) */
  height: auto;
  object-fit: contain;
}

