.history-main-container {
  font-family: "Syne", sans-serif;
  color: #fff;
  background-color: #000;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.history-title-box {
  background-color: #1a1a1a;
  width: 1240px;
  height: 446px;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;   
  align-items: center;           
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.history-title {
  font-size: 100px;
  margin: 0;
  font-weight: 700;
  color: #fff;
  position: relative;
  z-index: 1; 
  transform: translateY(-10px); 
}


.history-content-box {
  width: 1234px;
  height: 738px;
  background-color: #1a1a1a;
  border-radius: px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 40px;
  box-sizing: border-box;
}

.first-box {
  margin-top: 40px;
}

.history-text-section {
  width: 65%;
}

.history-text-section p {
  font-size: 22px;
  line-height: 1.6;
}

.history-image-box {
  width: 531px;
  height: 657px;
  border-radius: 50px;
  overflow: hidden;
}

.history-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}


.jobs-header-logo {
  position: absolute;
  top: -220px;       
  right: -90px;      
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 20px;
  z-index: 0;
}

.logo-image {
  width: 711px;
  height: 881px;
  object-fit: contain;
  opacity: 0.41;
}

